# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/